.space {
    margin-bottom: 20px;
}

.h-space {
    margin-right: 20px;
}

.purple-bg {
    background-color: rgb(66, 24, 66) !important;
    color: white;
}

.purple-text {
    color: rgb(66, 24, 66);
}

input {
    width: 100%;
    margin-top: 20px;
}

p {
    size: 8px;
    color: black;
}

li:hover {
    opacity: .75;
    background-color: lightgray;
}

/* #page-title, .jumbotron {
    text-align: center;
} */